.advantages__text {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 30px;
  margin: 30px;
}

.advantages_photo {
  width: 100%;
}