.button {
background-color: @light-blue;
font-size: 21px;
font-style: normal;
font-weight: 700;
line-height: 26px;
letter-spacing: 0px;
text-align: center;
}

.main-nav__toggle {
  background-color: @light-blue;
}
