.button {
  background-color: @light-blue;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0;
  text-align: center;
  min-width: 280px;
  text-transform: uppercase;
  margin-left: 20px;
  padding: 20px;
  border: transparent;
}

.main-nav__toggle {
  background-color: @light-blue;
}
