.button {
  display: block;
  background-color: @light-blue;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin-left: 20px;
  padding: 20px;
  border: transparent;
  margin-top: 40px;
  color: @white;
}

.main-nav__toggle {
  background-color: @light-blue;
}
