.intro {
    background: url("../../img/back-mobile.jpg") no-repeat;
    background-size: cover;
    background-repeat: no-repeat ;
    width: max-content;
    min-width: 320px;
    min-height: 390px;
    padding: 0; 
    margin: 0;
}

