.site-list {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0;
  text-align: center;
  color: @black;
  text-transform: uppercase;
}

.site-list_name {
  text-decoration: none;
  color: @black;
}
